@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300&display=swap');
*{
    font-family: 'Outfit';
    font-style: normal;
}
.had{
    margin-left: 148px;
    margin-top: 36px;
    background: #FFFFFF;
    box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    display: flex;
    font-family: 'Outfit';
    font-style: normal;
    
}
.tex{
    list-style: none;
    display: flex;
}
.about{
    margin-left: 48px;
    margin-top: 6px;
    font-size: 15px;
    line-height: 16px;
}
.nft{
    font-size: 15px;
    line-height: 16px;
    margin-left: 48px;
    margin-top: 6px;
}
.cont{
    font-size: 15px;
    line-height: 16px;
    margin-left: 48px;
    margin-top: 6px;
}
.twit{
    margin-left: 1000px;
    margin-top: 6px;
}
.inst{
    margin-left: 20px;
    margin-top: 6px;
}
.fc{
    margin-left: 20px;
    margin-top: 6px;
}
.button1{
    height: 40px;
    background: #2F2F2F;
    border-radius: 20px;
    text-align: center;
    font-family: 'Outfit';
    font-style: normal;
    color: #FFFFFF;
    margin-left: 53px;
    margin-top: -6px;
}
.classddd{
    margin-top: 241px;
    margin-left: 120px;
}
.text1{
    font-size: 13px;
    line-height: 14px;
    color: #82CBAC;
}
.text2{
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #2F2F2F;
}
.text3{
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #2F2F2F;
    margin-top: 25px;
}
.image11{
    margin-top: -350px;
    margin-left: 1000px;
}
.image{
    margin-left: 1200px;
    margin-top: -220px;
}
